server:
  port: 8080

jasypt:
  encryptor:
    property:
      prefix: ENC(
      suffix: )
    poolSize: 1
    algorithm: PBEWithMD5AndDES
    password: ${dbkey}

spring:
  application:
    name: webatoz-backend
  jackson:
    # naming convention 종류 : LOWER_CAMEL_CASE / LOWER_CASE / SNAKE_CASE / UPPER_CAMEL_CASE / KEBAB_CASE
    property-naming-strategy: SNAKE_CASE

  datasource:
    webatoz:
      jdbc-url: ENC(1mKpq/Fdu4f4Ev+zzKqLTyFXVRjoGKHDNtXbSo9WbV9lWPXEXa/dSMIU2yqb5/wS6mtMcAq/LSU=)
      username: ENC(QhGG95WgKzog+cLbnayAUQ==)
      password: ENC(vtyNbV0TjzufdvH/MQf8WZRR9ASwD/GX)
      driver-class-name: org.postgresql.Driver


# logging 파일 위치, 환경에 따라 달라질 예정.
logging:
  file: "./log/local"  # logback-spring에서 ${LOG_FILE} 에 해당하는 값



