server:
  port: 80
  address: 0.0.0.0

spring:
  application:
    name: dockerTestApp

ribbon:
  ServerListRefreshInterval: 1000

endpoints:
  health:
    sensitive: false
  restart:
    enabled: true
  shutdown:
    enabled: true

# logging 파일 위치, 환경에 따라 달라질 예정.
logging:
  file: "./log/local"  # logback-spring에서 ${LOG_FILE} 에 해당하는 값
