server:
  port: 8080

spring:
  application:
    name: webatoz-backend
  jackson:
    # naming convention 종류 : LOWER_CAMEL_CASE / LOWER_CASE / SNAKE_CASE / UPPER_CAMEL_CASE / KEBAB_CASE
    property-naming-strategy: SNAKE_CASE

  datasource:
    webatoz:
      jdbc-url: jdbc:postgresql://35.190.236.211:5432/webatoz
      username: admin
      password: cafe24@001
      driver-class-name: org.postgresql.Driver




# logging 파일 위치, 환경에 따라 달라질 예정.
logging:
  file: "./log/local"  # logback-spring에서 ${LOG_FILE} 에 해당하는 값
